@keyframes blinking {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.blink {
  animation: blinking 0.4s infinite;
}

.ghost {
  background-color: var(--ghost);
  box-shadow: inset 0 0 0 2px var(--grid-bg);
}
